body{
  background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTUfD_CpR_jXRh-A0vjx8F9oW_QBB79pcDwIdyPM2NYBEAtTT_x");
  background-size: cover;
  height: 2200px;
}
main{
  width: 100%;
  margin: 0 auto;
}

input{
  border-radius: 5px;
  width: 400px;
  font-size: 18px;
  margin: 10px;
}

.album{
  padding: 5px;
}

h1{
  font-family: dosis;
  text-align: center;
  color: white;
}

h3{
  font-family: dosis;
  color: white;
}

p{
  font-family: dosis;
  color: white;
  font-size: 18px;
}

a{
  font-family: dosis;
  font-size: 12px;
  color: white;
  text-decoration: none;
}

a:hover{
  color: orange;
}

button{
  width: 30px;
  height: 26px;
  border-radius: 5px;
  background-color: white;
  font-family: dosis;
  font-size: 14px;
  margin-top: 10px;
}

#album_box{
  width: 220px;
  display: inline-flex;
  flex-direction: row;
  border : solid 1px white;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  align-content: center;
  justify-content: center;
}

#albums{
  margin: auto;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

#search-area{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
